html,
body {
  height: 100%;
  margin: 0;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  max-width: 30%;
  max-height: 30%;
}
.navbar {
  background-color: #2a81ca;
}
.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 200px !important;
}
